services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: observability
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - /mnt/postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

  postgres_exporter:
    image: prometheuscommunity/postgres-exporter
    environment:
      DATA_SOURCE_NAME: postgresql://user:password@postgres:5432/observability?sslmode=disable
    depends_on:
      - postgres
    restart: unless-stopped

  load-generator:
    build:
      context: .
      dockerfile_inline: |
        FROM python:3.11-alpine
        RUN pip install psycopg2-binary
        COPY load_generator.py /app/load_generator.py
        WORKDIR /app
        CMD ["python", "load_generator.py"]
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_DB: observability
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    depends_on:
      - postgres
    restart: unless-stopped

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    restart: unless-stopped

  grafana:
    image: grafana/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=gui
      - GF_SECURITY_ADMIN_PASSWORD=LMjz6DuM2UX1Qug6NYxA7tNDJhIb3mOx
    depends_on:
      - prometheus
    restart: unless-stopped

  node_exporter:
    image: prom/node-exporter
    restart: unless-stopped

  ping_exporter:
    image: czerwonk/ping_exporter
    cap_add:
      - NET_RAW
    restart: unless-stopped

  nginx:
    build: ./nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - grafana
      - prometheus
    restart: unless-stopped
